.DS_Store
./node_modules
./package-lock.json
./yarn.lock
./pnpm-lock.yaml
./pnpm-workspace.yaml
bin
lib
share
pyvenv.cfg
memo.txt

# py2app
/dist/
/build/
/resources/
setup.py

#pyinstaller
SPLYT.spec